<section>
  <div class="content">
    <h2>About Us</h2>

  <div class="image">
    <img src="assets/images/my.jpeg" />
  </div>
</div>
  <div class="content">
    <!-- <h2>About Us</h2> -->
    <!-- <span>line here</span> -->
    <!-- <h1>Satish Jadhav</h1>
      <h4>Angular Deveoper at </h4> -->
    <mat-card  >
      <mat-card-title style="color: orange; text-align:center;" >Satish Jadhav</mat-card-title>
      <mat-card-subtitle style="font-weight: bold;text-align:center;"
        >Angular Developer At
        <span style="background-color: transparent;" ><a href="https://www.spitertech.com/" target="_blank">Spitertech Solution LLP</a></span></mat-card-subtitle
      >
      <mat-card-content >I am a Angular Developer at Spitertech Solution Nashik,Maharshtra and i have been building noteworthy UX/UI designs and websites for years, which comply with the latest design trends. I help convert a vision and an idea into meaningful and useful products. Having a sharp eye for product evolution helps me prioritize tasks, iterate fast and deliver faster.</mat-card-content>
      <mat-card-subtitle style="color: orange;" >Personal Info</mat-card-subtitle>
      <mat-card-content> <span style="background-color: transparent;color:gray;" >Name:-</span> Satish Jadhav</mat-card-content>
      <mat-card-content> <span style="background-color: transparent;color:gray;" >Address:-</span> F-10 Saidarshan Apt.,Parijat Nagar,College Road,Nashik,Maharshtra</mat-card-content>
      <mat-card-content> <span style="background-color: transparent;color:gray;" >Email:-</span> satishjadhav8421@gmail.com </mat-card-content>
      <mat-card-content> <span style="background-color: transparent;color:gray;" >Phone:-</span> (+91) 8668977959 </mat-card-content>
      <mat-card-content> <span style="background-color: transparent;color:gray;" >Education:-</span> T.Y.BSc Computer Science </mat-card-content>
      <mat-card-content> <span style="background-color: transparent;color:gray;" >Experience:-</span> 1+ year as Angular Developer  </mat-card-content>
      <mat-card-content> <span style="background-color: transparent;color:gray;" >Portfolio:-</span><a href="http://satishjadhav.epizy.com/" target="_blank"> http://satishjadhav.epizy.com/</a>  </mat-card-content>
    </mat-card>
    <!-- <ul class = "links">
          <li><a href = "#">work</a></li>
          <div class = "vertical-line"></div>
          <li><a href = "#">service</a></li>
          <div class = "vertical-line"></div>
          <li><a href = "#">contact</a></li>
      </ul> -->
    <ul class="icons">
      <li>
        <i class="fa fa-twitter"></i>
      </li>
      <li>
        <i class="fa fa-facebook"></i>
      </li>
      <li>
        <i class="fa fa-github"></i>
      </li>
      <li>
        <i class="fa fa-pinterest"></i>
      </li>
    </ul>
  </div>
</section>
<br /><br />
