<header class="bg-dark py-5" style="padding-top: 20px">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-12 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2" style="color: orange">
            Semister - V
          </h1>

          <br />
          <img src="https://i.pinimg.com/originals/e2/ca/7b/e2ca7b65e00d2b14e517ea1d796e3ef7.jpg" class="img-thumbnail" style="height: 50vh;  text-align: center;" alt="">
          <br>
          <br>
          <div
            class="lead fw-normal text-white-50 mb-4"
            style="color: red; font-weight: bold"
          >
            Assignment not given
          </div>
          <button class="btn btn-info" routerLink="../" >Previous Page</button>
          <br />
          <!-- <div class="row"  >
            <ul class="list-group">
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/operating-system-1">
                <a>Operating System - 1</a>
              </li>
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/computer-networks-2">
                <a >Computer Networks-2</a>
              </li>
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/web-technology">
                <a >Web Technologies - 1</a>
              </li>
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/java-1" >
                <a >Java - 1</a>
              </li>
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/foundation-Data-science" >
                <a >Foundation of Data Science</a>
              </li>
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/TCS" >
                <a >Theoretical Computer Science</a>
              </li>
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/python-programming">
                <a>Python Programing</a>
              </li>
              <li class="col-xs-12 list-group-item" routerLink="/bagpack/subjects/blockchain-technology" >
                <a >Blockchain Technology</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</header>

