<header class="bg-dark py-5" style="padding-top: 50px">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-12 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2" style="color: orange">
            T.Y. Computer Science
          </h1>
          <br />
          <div
            class="lead fw-normal text-white-50 mb-4"
            style="color: blueviolet"
          >
            What you want
          </div>
          <br />
          <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
              <a class="btn btn-info" routerLink="/bagpack/notes">Notes</a> |
              <a class="btn btn-info" routerLink="/bagpack/programms"
                >Programms</a
              >
              |
              <a class="btn btn-info" routerLink="/bagpack/assignment"
                >Assignments</a
              >
            </div>
          </div>
          <!-- <div class="row" >
            <div class="col-xs-23">
            <a class="btn btn-info" routerLink="/bagpack/notes">Notes</a> |
            <a class="btn btn-info" routerLink="/bagpack/programms">Programms</a> |
            <a class="btn btn-info"routerLink="/bagpack/assignment">Assignments</a>
          </div>
          </div> -->
          <br />
          <hr>
          <div>
            <h3>If you have any suggestion feel free to drop suggestion <a routerLink="/suggest"> Click Me</a>  </h3>
          </div>
          <hr>

          <img src="https://i.pinimg.com/originals/b2/76/3f/b2763f861f8ad969293b9e96681388bd.jpg" alt="" class="img-thumbnail" style="height: 50vh;  text-align: center;"  />
        </div>
      </div>
    </div>
  </div>
</header>
