/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
li.col-xs-12.list-group-item{
  background-color: wheat;
}

li.col-xs-12.list-group-item a{
color: rgb(207, 37, 237);
}

li.col-xs-12.list-group-item a:hover{
  color: orange;
}
