<header class="bg-dark py-5" style="padding-top: 10px">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-12 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2" style="color: orange">
            Application Layer
          </h1>
          <br />
          <div>
            <a class="btn btn-info" (click)="onNotes()">Notes</a> |
            <a class="btn btn-info" (click)="onPyq()">PYQ</a>
          </div>
          <div class="container" *ngIf="notes">
            <div class="row" style="padding-top: 20px">
              <h3 style="text-align: left; color: #e534eb">Introduction =></h3>
              <div style="text-align: left; padding-left: 10px">
                <li>
                  The application layer is the
                  <mark style="font-weight: bold"
                    >topmost layer in the layered network model</mark
                  >
                </li>
                <li>
                  It is the layer with the<mark style="font-weight: bold">
                    user interact directly</mark
                  >
                </li>
                <li>
                  It provides user interface and support for various services
                  such as remote file access, E-mail
                </li>
              </div>
              <hr />
              <h3 style="text-align: left; color: #e534eb">
                Domain Name System =>
              </h3>
              <div style="text-align: left; padding-left: 10px">
                <li style="font-weight: bold">
                  DNS is a client server application that maps host names to IP
                  addresses on the internet
                </li>
              </div>
            </div>
          </div>
        </div>
        <div class="container" *ngIf="pyq">
          <div class="row" style="padding-top: 20px">
            <h3 style="text-align: left; color: #e534eb">
              Previous Year Quetions
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
